~*
*.dll
*.os
*.o
*.tmp
*.swp

# 설정
.vscode
.rclone.filter
compile_flags.txt

# 고도
godot/.godot
godot/bin/lib
godot-cpp

# 빌드
.sconsign.dblite
pull.sh
build.sh
keycreate.sh
build
result
cpp/engine/engine_doc.gen.cpp
ourgram.keystore

*.old